body {
    background-color: #F7F9F2;
}

#title {
  font-family: Helvetica, Arial, sans-serif;
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #333;
}

p.big {
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 800;
}

#main {
  text-align: left;
  width: 600px;
  padding-top: 1%;
  padding-left: 15%;
}

#images {
  float: left;
  width: 250px;
  height: auto;
  overflow: hidden;
}

#images img {
  float: left;
  display: inline;
  width: 200px;
  height: auto;
  padding: 10px;
}

#about {
  width: 300px;
  text-align: left;
  font-weight: 200;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #6c803b;
}

a:hover {
  font-weight:400;
}

a:visited {
  color: #6c803b;
}
